$accent_color: #e35e67;
$accent_color_light: rgba(227, 94, 103, 0.49);

.reveal {
  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }

    .shadowed {
      -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.75);
    }

    h1 {
      font-family: 'pacificoregular', cursive;

      &.title {
        color: $accent_color;
        text-shadow: 0 0 2px rgb(97, 42, 47);
      }
    }

    h2, h3, h4 {
      font-family: open_sansregular, serif;
      text-decoration: underline;
      text-decoration-color: $accent_color_light;
    }

    blockquote {
      border: 20px solid;
      padding: 15px;
      -webkit-border-image: url(../img/bubble.png) 100 stretch; /* Safari 3.1-5 */
      -o-border-image: url(../img/bubble.png) 100 stretch; /* Opera 11-12.1 */
      border-image: url(../img/bubble.png) 100 stretch;
      box-shadow: none;
      font-family: open_sansitalic, serif;

      b {
        font-family: open_sansextrabold_italic, serif;
      }
    }

    font-family: open_sanslight, serif;

    ul {
      padding-top: 20px;
      list-style-type: none;
      li:before {
        content: "–";
        position: absolute;
        margin-left: -1em;
      }
      li {
        padding-bottom: 10px;
      }
    }

    .fragments-inplace {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }

    img.ikigai-circle {
      height: 600px;
    }

    h2.vs {
      font-family: open_sansextrabold_italic, serif;
      text-decoration: none;
      font-size: 3em;
      text-shadow: 0 0 10px rgb(0, 0, 0);
    }

    .hide-not-current-fragment {
      .fragment.visible:not(.current-fragment) {
        visibility: hidden;
      }
    }

    .stock-photo {
      height: 650px;
      position: relative;
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .black-slide {
      h2 {
        color: white;
      }
    }

    .rotter {
      border-radius: 25px;
      border: 3px dashed rgba(16, 0, 7, 1);
      padding: 20px;
      margin-bottom: 50px;
    }

    .locus {
      display: flex;
      img {
        height: 250px;
      }
      div {
        flex: auto;
      }
    }
  }

  ul.instructions {
    font-family: roboto_mono, monospace;
    font-size: 20px;
    a {
      color: rgb(97, 42, 47);
      &:hover {
        text-decoration: underline;
      }
    }
    .hint {
      background-color: #ffcc68;
      margin-right: 10px;
      padding: 0 10px 0 10px;
    }

    li:before {
      content: "";
    }
  }

  .quiz-table {
    .number {
      font-family: open_sansbold, serif;
      color: $accent_color;
      text-align: center;
    }
    font-size: 1em;
    td {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.53);
    }
    tr.fragment:not(.visible) {
      filter: blur(1.5rem);
      opacity: 1.0;
      visibility: visible;
    }
  }

  .info {
    font-size: 1.3em;
    .twitter {
      img {
        width: 70px;
        padding-right: 10px;
        opacity: 0.9;
      }
      padding-bottom: 80px;
    }


    img.small-logo {
      width: 50px;
      margin: 0;
      vertical-align:middle;
      border-radius: 0;
      padding-right: 5px;
    }

    .team-text {
      padding-top: 20px;
    }

    a {
      color: black;
    }
  }
}

.fullscreen-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

#ikigai {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 400px;
  z-index: 102;
  display: none;
}

#black-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: none;
}

#fire {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: url(../img/fire.gif) no-repeat center center;
  display: none;
}

div.slide-background.present[data-background-hash="img/bg-end.pngnullnullnullnullnullnullnullnull"] {
  filter: blur(15px);
}